.form{
  padding: 10px;
  margin-top: 20px;
}
.item{
  display: grid;
  grid-template-columns: 80px auto;
  column-gap: 10px;
  height: 35px;
  margin-top: 10px;
}
.form_content{
  display: flex;
  align-items: center;
}
.form_label{
  display: flex;
  align-items: center;
}
.bi-box-arrow-up-right{
  margin-left: 20px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}