.form{
  padding: 10px;
  margin-top: 20px;
}
.item{
  display: grid;
  grid-template-columns: 80px auto;
  column-gap: 10px;
  height: 35px;
  margin-top: 10px;
}
.form_content{
  display: flex;
  align-items: center;
}
.form_label{
  display: flex;
  align-items: center;
}
.bi-box-arrow-up-right{
  margin-left: 20px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
.bangumiItem{
  display: grid;
  grid-template-columns: 50px auto;
  column-gap: 10px;
}
.bangumiItem_title{
  display: flex;
  align-items: center;
}
.bangumiItem_content{
  display: flex;
  align-items: center;
}

.exclutionItem{
  display: grid;
  grid-template-columns: 50px auto;
  column-gap: 10px;
}

.exclutionItem_title{
  display: flex;
  align-items: center;
}
.exclutionItem_content{
  display: flex;
  align-items: center;
}
.logContent{
  max-height: 500px;
  overflow: auto;
}
.logItem{
  display: grid;
  grid-template-columns: auto 150px 10px;
  align-items: center;
}
.log_label{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.log_time{
  display: flex;
  justify-content: flex-end;
}