.page{
  margin: auto;
  width: 800px;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media screen and (max-width: 840px) {
  .page {
    width: calc(100% - 40px)
  }
}
.item{
  display: grid;
  align-items: center;
  height: 35px;
  margin-top: 10px;
  grid-template-columns: 100px auto;
  user-select: none;
}
.content{
  display: flex;
  align-items: center;
}
.selector{
  width: 120px;
}
.freq_input{
  width: 90px;
}
.logItem{
  display: grid;
  grid-template-columns: auto 150px 10px;
  align-items: center;
}
.log_label{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.log_time{
  display: flex;
  justify-content: flex-end;
}