.page{
  margin: auto;
  width: 1000px;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media screen and (max-width: 1040px) {
  .page {
    width: calc(100% - 40px)
  }
}
.tool_bar{
  display: grid;
  grid-template-columns: 80px 120px auto;
  gap: 10px;
  margin-bottom: 10px;
}
.table_title{
  min-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}